@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  max-width: 100%;
  max-height: 100%;
  background-color: #eaeaea;
}

button {
  cursor: pointer;
}

.error-message-container {
  max-width: 100%;
  background-color: #252a34;
  margin: 0;
  padding: 100px;
}

.error-message-code,
.error-message-label {
  color: #ff2e63;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 5px 4px 6px #08d9d6;
}

.error-message-code {
  font-size: 200px;
  line-height: 200px;
}

.error-message-label {
  font-size: 60px;
  line-height: 70px;
}

/* ALL SIDE NAVS HERE */
.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #252a34;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  text-decoration: none;
}
.sidenav button {
  padding: 8px 0px 8px 0px;
  width: 90%;
  font-size: 18px;
  color: white;
  display: block;
  letter-spacing: 1.5px;
  font-weight: lighter;
  background: none;
  margin-inline: 10px;
  margin-bottom: 3px;
}

.sidenav button:hover,
.sidenav .active {
  background-color: #ff2e63;
  border-radius: 10px;
}

.sidenav .log-out-btn {
  color: #08d9d6;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 16.5%;
  margin-bottom: 20px;
}

.sidenav .log-out-btn:hover {
  background: none;
}

/* FOR SIZING OF SCREEN SIDENAV NOT INCLUDED */
.main {
  width: 82%;
  height: 100%;
  margin-left: 18%;
  background-color: #eaeaea;
}

/* HEADERS */
/* FOR RESPONSIVE IMAGE BACKGROUND (EXCEPT DASHBOARD) */
.managementsHeader {
  background: url('./images/3smaller.png') 50% 0 no-repeat;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* FOR RESPONSIVE IMAGE BACKGROUND IN DASHBOARD */
.dashboardHeader {
  background: url('./images/3.png') 50% 0 no-repeat;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 50px solid #ff2e63;
  box-shadow: 5px 5px #08d9d6;
}

/* HOTEL NAME (EXCEPT DASHBOARD) */
.hotel-name-label {
  font-size: 80px;
  font-weight: 100;
  width: 100%;
  padding: 0px 35px 0px 35px;
  margin: 0px;
  height: 100%;
  text-align: right;
  color: white;
  text-shadow: 5px 5px 4px black;
}

/* HOTEL NAME IN DASHBOARD */
.hotel-name-label-db {
  font-size: 100px;
  font-weight: 100;
  width: 100%;
  padding: 45px 35px 10px 35px;
  margin: 0px;
  height: 100%;
  text-align: right;
  color: white;
  text-shadow: 5px 5px 4px black;
}

/* TOP NAVIGATION STYLES */
.nav {
  width: 100%;
  padding: 0;
  background: #ff2e63;
  margin: 0;
  border-bottom: 2px solid #08d9d6;
}

.nav ul {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 7px 0px 7px 0px;
  margin: 0;
}

.nav li {
  display: inline-block;
  align-content: center;
}

.nav a {
  text-decoration: none;
  padding: 7px 20px 10px 20px;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 0;
  /* height: 50px; */
}

.nav a:hover,
.nav .active {
  background-color: #eaeaea;
  color: #252a34;
  border-top: 2px solid #08d9d6;
  border-inline: 2px solid #08d9d6;
  font-weight: lighter;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* DEFAULT FOR ALL CONTENT CONTAINERS */
section {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.content-container {
  background-color: white;
  margin: 20px 0px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

/* .dashboard-content-container {
  background-color: white;
  margin: 20px 0px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  /* display: flex; */
/* width: 100%;
} */

.dashboard-content-container {
  /* background-color: white; */
  margin: 0px;
  padding: 20px 20px 20px 20px;
  /* border-radius: 10px; */
  /* display: flex; */
  width: 100%;
}

.content {
  background: #252a34;
  margin: 20px 20px 0px 0px;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;
}

.dashboard-content {
  /* background: #252a34; */
  margin: 10px 20px 0px 20px;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  color: white;
  /* border-radius: 10px; */
}

.monitoring-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchBar {
  width: 50%;
}

/* Style the search field */
/* form.searchButton input[type='text'] {
  padding: 5px 5px 5px 20px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border=-radius: 10px;
} */

/* Style the submit button */
div.searchButton button {
  float: left;
  width: 20%;
  background: #08d9d6;
  color: #252a34;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 10px;
}

form.searchButton button:hover {
  background: #ff2e63;
  color: white;
}

/* Clear floats */
form.searchButton::after {
  content: '';
  clear: both;
  display: table;
}

/* DEFAULT STYLE FOR MANAGE BUTTON IN MONITORINGS */
.manageButton a {
  text-decoration: none;
}

.manageButton {
  color: #252a34;
  font-size: 17px;
  padding: 5px 20px 5px 20px;
  background-color: #08d9d6;
  border-radius: 10px;
  border: 1px solid grey;
  font-weight: 500;
  letter-spacing: 2px;
}

/* The container <div> - needed to position the dropdown content */
.manageButton-div {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.manageButton-options {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.manageButton-options a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.manageButton-options a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.manageButton-div:hover .manageButton-options {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.manageButton-div:hover .manageButton {
  background-color: #ff2e63;
  color: white;
}

/* DEFAULT TABLE STYLE */
thead th {
  background-color: #ff2e63;
  color: white;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #eaeaea;
}

td {
  color: #252a34;
}

th,
td {
  text-align: center;
  border: 2px solid #08d9d6;
}

tr:hover {
  background-color: #08d9d6;
}

/* MONITORING TABLES (EXCEPT DASHBOARD) */
.table-label {
  font-size: 40px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}

.table-container thead th {
  position: sticky;
  top: 0;
}
.table {
  white-space: nowrap;
  background-color: #eaeaea;
  border-radius: 10px;
}

.table th,
.table td {
  padding: 10px 10px;
  font-size: 15px;
}

.table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}

.table-container thead th {
  position: sticky;
  top: 0;
}
.table {
  white-space: nowrap;
  background-color: #eaeaea;
  border-radius: 10px;
}

.table th,
.table td {
  padding: 10px 10px;
  font-size: 15px;
}

/* MONITORING STYLE FOR DASHBOARD */
.dashboard-monitoring-container {
  display: flex;
}

.dashboard-table-label {
  font-size: 40px;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  letter-spacing: 10%;
}

/* FOR RESPONSIVENESS OF TABLES - FROM HERE */
.dashboard-table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #252a34;
}

.dashboard-table-container thead th {
  position: sticky;
  top: 0;
}
.dashboard-table {
  white-space: nowrap;
  background-color: #eaeaea;
  /* border-radius: 10px; */
}

.dashboard-table th,
.dashboard-table td {
  padding: 10px 10px;
  font-size: 15px;
}

.dashboard-table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}

.dashboard-table-container thead th {
  position: sticky;
  top: 0;
}

/* FOR RESPONSIVENESS OF TABLES - UNTIL HERE */
.dashboard-table {
  white-space: nowrap;
  background-color: #eaeaea;
  border-radius: 10px;
}

.dashboard-table th,
.dashboard-table td {
  padding: 10px 10px;
  font-size: 15px;
}

/* ROOMS AVAILABLE */
.vacancy-display {
  width: 25%;
  text-align: center;
  color: white;
  font-weight: 500;
  padding-top: 10px;
}

.vacancy-display-label {
  font-size: 30px;
  background-color: #ff2e63;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.vacancy-display-count {
  font-size: 150px;
  font-weight: 500;
  background-color: #252a34;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*  */
.checkOutButton a {
  text-decoration: none;
}

.checkOutButton {
  color: #252a34;
  font-size: 17px;
  padding: 5px 20px 5px 20px;
  background-color: #08d9d6;
  border-radius: 10px;
  border: 1px solid grey;
  font-weight: 500;
  letter-spacing: 2px;
}

.checkOutButton:hover {
  background-color: #ff2e63;
  color: white;
}

fieldset {
  background-color: #f0ebe3;
  width: 100%;
  border: 2px solid #54bab9;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 20px 10px 0px;
  display: inline;
  color: #252a34;
}

.wholeFieldSet {
  display: inline-flex;
  /* max-width: 100%; */
}
.rightFieldSet {
  width: 49%;
}
.leftFieldSet {
  width: 49%;
  margin-right: 20px;
}

legend {
  color: #ff2e63;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.content label {
  font-size: 15px;
  display: block;
  padding: 5px;
}

#customerName {
  margin: 0px 0px 45px 0px;
}

label[for='gender'] {
  margin: 40px 0px 0px 0px;
}

.content input,
.content select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0px 0px 10px 0px;
}

.content #balance {
  width: 100%;
  color: white;
}

label[for='paymentMethod'],
label[for='balance'] {
  color: white;
}

#bedInfo {
  margin: 0px 0px 12px 0px;
}

.form-buttons button {
  font-size: 18px;
  color: #252a34;
  padding: 5px;
  margin-inline: 15px;
  width: 100px;
  background-color: #08d9d6;
  border: none;
  border-radius: 5px;
  align-items: center;
}

.form-buttons .checkOut-btn {
  font-size: 18px;
  color: #252a34;
  padding: 5px;
  margin-inline: 15px;
  width: 150px;
  background-color: #08d9d6;
  border: none;
  border-radius: 5px;
  align-items: center;
}

.form-buttons {
  text-align: center;
  margin-top: 20px;
}

.form-buttons a {
  text-decoration: none;
}

.form-buttons button:hover {
  background-color: #ff2e63;
  color: white;
}

.btn-group-tabs {
  background-color: #08d9d6;
  border: 1px solid grey;
  color: #252a34;
  font-size: 17px;
  padding: 5px 20px 5px 20px;
  /* float: right; */
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn-group-tabs:hover {
  background-color: #ff2e63;
  color: white;
}

.newroom-table-div {
  padding: 20px 20px 20px 20px;
  /* background-color: #e9dac1; */
  width: 100%;
}
.form-div select,
.form-div label,
.radio-btn,
.newroom-btn-group,
.form-div input {
  margin-bottom: 20px;
  font-size: 16px;
  padding-right: 20px;
}

.form-div label {
  color: white;
}

.newroom-btn {
  background-color: #08d9d6;
  /* border: 5px solid #e9dac1; */
  color: #252a34;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-block: 5px;
  width: 100px;
  /* float: right; */
  margin-inline: 10px;
  border-radius: 5px;
}

/* para sa mga add(manage) sa Room Management*/
.text-input {
  font-size: 16px;
}

.newroom-btn-group {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.radio-btn {
  display: inline-flex;
  width: 25%;
}

.newroom-btn:hover {
  background-color: #ff2e63;
  color: white;
}

label[for='roomtype'],
label[for='room-floor'],
label[for='Payment'],
label[for='bedtype'] {
  color: white;
}

.input-container {
  padding: 16px 50px 16px 50px;
  height: 100px;
  font-size: medium;
}
.login-form {
  padding-top: 30px;
  border: 3px solid #f1f1f1;
  width: 520px;
  height: 580px;
  margin-left: 35vw;
  background-color: #000000c9;
  border-radius: 25px;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.login-box h2 {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.wrapper {
  background-image: url('./images/loginbg.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
}
.input-container input[type='text'],
.input-container input[type='password'] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: medium;
  border-radius: 20px;
}
/* Set a style for all buttons */
.input-container button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: medium;
  font-weight: 700;
}
.psw a {
  color: white;
}
.input-container button:hover {
  opacity: 0.9;
}
.input-container button.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.cancelbtn {
  width: 100%;
}
.hotel-name-div,
.login-form h2,
.input-container label {
  color: white;
  letter-spacing: 2px;
}

.login-form h2 {
  letter-spacing: 5px;
}
.hotel-name-div {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  text-shadow: 5px 4px 5px #ff2e63;
}

@media screen and (max-width: 1300px) {
  .sidenav button {
    width: 88%;
    font-size: 18px;
    /* color: green; */
  }
  .nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  /*  */
  .sidenav button {
    width: 86%;
    font-size: 15px;
    /* color: pink; */
    letter-spacing: 1.5px;
  }
  .vacancy-display-label {
    font-size: 25px;
  }
  .nav a {
    padding: 6px 10px 8px 10px;
  }
  .nav a:hover,
  .nav .active {
    /* border: 2px solid #08d9d6; */
    border-radius: 8px;
  }
  .newroom-btn-group button {
    display: block;
    margin: 10px;
    width: 100%;
  }
  .wholeFieldSet {
    display: block;
  }
  .leftFieldSet,
  .rightFieldSet {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .sidenav button {
    width: 84%;
    font-size: 15px;
    /* color: blue; */
    letter-spacing: 1.3px;
  }
  .nav li {
    display: block;
    margin-block: 12px;
  }
  .dashboard-monitoring-container {
    display: block;
  }
  .vacancy-display {
    width: 100%;
    padding-left: 40px;
  }
  .form-buttons button {
    display: block;
    width: 90%;
    margin-bottom: 10px;
  }
  .checkOut-btn {
    min-width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .sidenav button {
    width: 82%;
    font-size: 10px;
    /* color: white; */
    letter-spacing: 1.3px;
  }
  .hotel-name-label {
    font-size: 40px;
    text-align: center;
  }
  .newroom-btn {
    margin: 0;
  }
  .newroom-btn-group {
    display: block;
  }
}
.roomtype,
.room,
.room-bed,
.paymentMethod,
.bed-type,
.service {
  display: none;
}

input[type='checkbox'] {
  width: auto;
  margin: 0;
}

.servicesContainer {
  display: flex;
  align-items: center;
}

.reports-content {
  background: #252a34;
  margin: 20px 20px 0px 0px;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;
}

.reports-table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}

.reports-table-container thead th {
  position: sticky;
  top: 0;
}
.reports-table {
  white-space: nowrap;
  background-color: #eaeaea;
  border-radius: 10px;
}

.reports-table th,
.reports-table td {
  padding: 10px 10px;
  font-size: 15px;
}

.reports-table-container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}

.reports-table-container thead th {
  position: sticky;
  top: 0;
}
.reports-table {
  white-space: nowrap;
  background-color: #eaeaea;
  border-radius: 10px;
}

.reports-table th,
.reports-table td {
  padding: 10px 10px;
  font-size: 15px;
}

/* .reports-table button:hover {
  border: 1px solid #252a34;
} */

.searchButton button:hover {
  background-color: #ff2e63;
  color: white;
}

legend {
  text-shadow: 1px 2px #ffffff;
  /* color: #ffffff; */
}
